<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List In Vue Js</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"/>
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>Todo List</h1>
            <input type="text" v-model="todo">
            <input type="submit" value="Add" @click="store" class="button button-outline">
            <ol>
                <li v-for="todo in todos">{{todo}}</li>
            </ol>
        </div>
    </div>
    <script>
        new Vue({
            data:{
                todo:'',
                todos:[]
            },
            methods:{
                store(){
                    this.todos.push(this.todo)
                }
            }

        }).$mount('#app')
    </script>
    
</body>
</html>